name: C/C++ CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: make install_linux
      run: make install_linux
    - name: test
      run: make setup build test
      env:
        SERPAPI_KEY: ${{secrets.SERPAPI_KEY}}
